RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

Redirect 301 /work-perks-unlimited-vacation-vs-productivity/ /blog/work-perks-unlimited-vacation-vs-productivity/
Redirect 301 /impact-mobile-applications-healthcare/ /blog/impact-mobile-applications-healthcare/
Redirect 301 /estimote-hackathon/ /blog/estimote-hackathon/
Redirect 301 /making-off-think-big-video/ /blog/making-of-think-big-video/
Redirect 301 /scrollview-has-ambiguous-scrollable-content-height/ /blog/uiscrollview-has-ambiguous-scrollable-content-height/
Redirect 301 /mkmapview-too-slow-use-preview/ /blog/showing-map-preview-with-mkmapsnapshotter/
Redirect 301 /europeana-a-bit-of-culture/ /blog/europeana-workshop-paris-a-bit-of-culture/
Redirect 301 /french-startups-futur-en-seine/ /blog/french-startups-futur-en-seine/
Redirect 301 /apple-swift-for-ios/ /blog/introducing-apple-swift-for-ios/
Redirect 301 /hackwaw-quantified-self-hackathon/ /blog/hackwaw-quantified-self-hackathon/
Redirect 301 /upc-think-big-final-gala/ /blog/upc-think-big-final-gala-2014/